/* Components Page Elements */
@import "./element-page/about.scss";
@import "./element-page/contact.scss";
@import "./element-page/project.scss";

.hero {
    background: #f9f9ff;
}

.hero .fullscreen {
    height: 750px!important;
}

.hero h6 {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
}

.hero-left h1 {
    margin: 20px 0;
    font-size: 60px;
    text-transform: uppercase;
}

.hero-right {
    text-align: center;
}

@media (max-width: 991px) {
    .hero-left h1 {
        font-size: 30px;
    }
    .hero-right {
        align-self: center!important;
    }
}

@media (max-width: 767px) {
    .hero-left {
        margin-top: 100px;
    }
    .hero-right {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}

.hero-left .primary-btn,
.about-me-right .primary-btn,
.thumb .overlay-bg,
.about-banner,
.skill-bar-inner {
    background: -moz-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
    background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
    background: -ms-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
}

.about-me-right h6 {
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: 400;
}

.about-me-right h1 {
    margin-bottom: 40px;
}

@media (max-width: 991px) {
    .about-me-right h1 {
        font-size: 20px;
    }
}

.about-me-right p {
    margin-bottom: 30px;
    max-width: 445px;
}

.services-me, .portfolio, .portfolio-footer, .about-me, .contact-page, .admin-login, .page-project {
    padding: 120px 0;
}

.services-single {
    text-align: center;
    margin-top: 60px;
}

.services-single .lnr {
    font-size: 35px;
    color: #222;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.services-single h4 {
    margin-top: 30px;
    margin-bottom: 20px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.services-single p {
    max-width: 318px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.portfolio .filters {
    text-align: center;
}

.portfolio .filters ul {
    padding: 0;
}

.portfolio .filters ul li {
    list-style: none;
    display: inline-block;
    padding: 18px 15px;
    cursor: pointer;
    position: relative;
    text-transform: uppercase;
    color: #222222;
    font-size: 12px;
    font-weight: 500;
}

.portfolio .filters ul li.active {
    color: #8490ff;
}

.portfolio .filters ul li:after {
    content: '';
    display: block;
    width: calc(0% - 60px);
    position: absolute;
    height: 2px;
    background: #333;
    transition: width 350ms ease-out;
}

.portfolio .filters ul li:hover:after {
    width: calc(100% - 60px);
    transition: width 350ms ease-out;
}

.portfolio .filters-content {
    margin-top: 50px;
}

.portfolio .filters-content .p-inner {
    padding: 20px 0;
    text-align: center;
}

.portfolio-single {
    border-right: 5px;
}

.portfolio-single {
    animation: backInUp;
    animation-duration: 1s;
}

.portfolio-footer {
    background-color: #04091e;
}

@media (max-width: 991.98px) {
    .portfolio-footer-single-widget {
        margin-bottom: 30px;
    }
}

.portfolio-footer-single-widget h4 {
    color: #fff!important;
    margin-bottom: 25px;
    font-weight: 500;
}

.portfolio-footer-single-widget .portfolio-footer-social {
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.portfolio-footer-social a i {
    vertical-align: bottom;
    color: #fff;
}


.relative {
    position: relative;
}

.overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.thumb .overlay {
    opacity: 0;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.portfolio-single:hover .thumb .overlay-bg {
    opacity: .85;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.text {
    color: white;
    font-size: 25px;
    padding: 16px 32px;
}

.portfolio-single:hover .middle {
    opacity: 1;
}
