#mobile-nav {
    position: fixed;
    right: 15px;
    z-index: 999;
    top: 22px;
    border: 0;
    background: none;
    font-size: 24px;
    display: none;
    transition: all 0.4s;
    cursor: pointer;
}

#mobile-nav i {
    color: #222;
    font-weight: 900;
}

#header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 997;
    background: #fff;
}

.main-menu {
    padding-bottom: 20px;
    padding-top: 20px;
}

.nav-menu, .nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu li {
    position: relative;
    white-space: nowrap;
}

.nav-menu > li {
    margin-left: 10px;
    float: left;
}

.menu-active {
    color: #8490ff !important;
}

.nav-menu a {
    padding: 0 8px 0 8px;
    text-decoration: none;
    display: inline-block;
    color: #222;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    outline: none;
}

@media (max-width: 991px) {
    #mobile-nav {
        display: inline;
    }
    #nav-menu-container {
        display: none;
    }
}
@media (max-width: 768px) {
    #nav-menu-container {
        display: none;
    }
}
@media (max-width: 673px) {
    #logo-header {
        margin-left: 20px;
    }
}

body#mobile-nav-active #mobile-nav-element {
    left: 0;
}

#mobile-nav-element {
    position: fixed;
    top: 0;
    padding-top: 18px;
    bottom: 0;
    z-index: 998;
    background: rgba(0, 0, 0, 0.8);
    left: -260px;
    width: 260px;
    overflow-y: auto;
    transition: 0.4s;
}

#mobile-nav-element ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#mobile-nav-element ul li {
    position: relative;
}

#mobile-nav-element ul li a {
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    overflow: hidden;
    padding: 10px 22px 10px 15px;
    position: relative;
    text-decoration: none;
    width: 100%;
    display: block;
    outline: none;
    font-weight: 400;
}

#mobile-body-overlay {
    width: 100%;
    height: 100%;
    z-index: 997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    display: none;
}
