.about-content {
    margin-top: 70px;
    padding: 90px 0;
    text-align: center;
}

@media (max-width: 767px) {
    .about-content {
        margin-top: 70px;
    }
}

.about-content h1 {
    font-size: 48px;
    font-weight: 600;
}

.link-nav {
    margin-top: 10px;
    margin-bottom: 0;
}

.about-content a {
    color: #fff;
    font-weight: 300;
    font-size: 14px;
}

.about-content .lnr {
    margin: 0 10px;
    font-weight: 600;
}
