.contact-page {
    background: #f9f9ff;
}

@media (max-width: 991px) {
    .contact-page .address-contact {
        margin-bottom: 30px;
    }
}

.contact-page .address-contact .single-contact-address {
    margin-bottom: 8px;
}

.contact-page .address-contact .single-contact-address .icon .lnr {
    font-size: 30px;
    font-weight: 500;
    color: #8490ff;
    margin-right: 30px;
}

.contact-page .address-contact .single-contact-address h5 {
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 5px;
}

.contact-page .contact-form .contact-input,
.contact-page, .contact-form, textarea {
    border-radius: 0 !important;
    font-size: 13px !important;
}

.contact-page .contact-form .contact-input {
    padding: 15px;
}

.contact-page .contact-form textarea {
    height: 190px;
    margin-top: 0;
    padding: 15px;
}
