.page-project .feature-img img {
    width: 100%;
}

.section-top-border {
    padding: 50px 0;
    border-top: 1px dotted #eee;
}

.project-info li {
    line-height: 1.85em !important;
}

.project-info li:before {
    content: '- ';
}

.project-info li a {
    text-decoration: underline;
    font-weight: 400;
    font-size: 15px;
    color: #777777;
}

.project-info li a:hover {
    color: #8490ff !important;
}
