body {
    color: #777777;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.625em;
    position: relative;
}

a {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

a, a:focus, a:hover {
    text-decoration: none;
    outline: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #222222;
    line-height: 1.2em!important;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 600;
}

h1, .h1 {
    font-size: 36px;
}

h1 {
    font-size: 36px;
}

h4, .h4 {
    font-size: 18px;
}

h4 {
    font-size: 18px;
}

h5, .h5 {
    font-size: 16px;
}

h5 {
    font-size: 16px;
}

h6, .h6 {
    color: #222222;
}

h6 {
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.5em;
}

ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.align-items-center {
    align-items: center !important;
}

.justify-content-between {
    justify-content: space-between !important;
}

.d-flex {
    display: flex !important;
}

.email-head {
    background-color: transparent;
}

.email-head-subject {
    padding: 25px 25px;
    border-bottom: 1px solid #e8ebf1;
}

.email-head-subject .title {
    display: block;
    font-size: .99rem;
}

.email-head-subject .email-title a .icon {
    color: silver;
    margin-right: 6px;
}

.email-head-subject .email-title a.active .icon {
    color: #fbbc06;
}

.email-head-subject .email-title a .icon svg {
    width: 18px;
}

.email-body {
    background-color: transparent;
    border-top: 1px solid #e8ebf1;
    padding: 30px 28px;
}
