.btn {
    display: inline-block;
    font-weight: 600;
    font-size: 0.875rem;
    color: #000;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .5rem 1rem .4rem;
    line-height: 1;
    border-radius: 0.1875rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* COLOR BTN */

.btn-primary {
    color: #fff;
    background-color: #727cf5;
    border-color: #727cf5;
}

.btn-outline-success {
    color: #10b759;
    border-color: #10b759;
}

.btn-outline-danger {
    color: #ff3366;
    border-color: #ff3366;
}
