.table thead th {
    border-top: 0;
    border-bottom-width: 1px;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    color: #686868;
}

.table th, .table td {
    padding: 0.875rem 0.9375rem;
    vertical-align: middle;
    line-height: 1;
    white-space: nowrap;
    border-top: 1px solid #e8ebf1;
}

.table td {
    font-size: 0.875rem;
}
