.primary-btn {
    background: #8490ff;
    line-height: 42px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    color: #fff;
    display: inline-block;
    font-weight: 500;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    position: relative;
}

.generic-btn {
    display: inline-block;
    outline: none;
    line-height: 40px;
    padding: 0 30px;
    font-size: .8em;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.generic-btn.primary {
    color: #fff;
    background: #8490ff;
    border: 1px solid transparent;
}

.generic-btn.success {
    color: #fff;
    background: #4cd3e3;
    border: 1px solid transparent;
}

.generic-btn.circle {
    border-radius: 20px;
}

.generic-btn.arrow {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.generic-btn.arrow span {
    margin-left: 10px;
}

.generic-btn.primary-border {
    color: #8490ff;
    border: 1px solid #8490ff;
    background: #fff;
}

.generic-btn.primary-border:hover {
    color: #fff;
    background: #8490ff;
    border: 1px solid transparent;
}

.contact-page .contact-form .generic-btn {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    border-radius: 0 !important;
    font-size: 14px;
    text-transform: uppercase !important;
}
