.pagination-projects {
    padding-top: 60px;
    padding-bottom: 120px;
}

.pagination-projects .page-item {
    border: none;
}

.page-link {
    background: transparent;
    font-weight: 400;
}

.pagination-projects .page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: 1px;
    line-height: 1.25;
    color: #777777;
    border: none;
}

.pagination-projects .page-item:first-child .page-link {
    border-radius: 0;
}

.pagination-projects .page-link .lnr {
    font-weight: 600;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.pagination-projects .page-item.active .page-link {
    background-color: #8490ff;
    border-color: transparent;
    color: #fff;
}
