.skill-single p {
    margin-top: 30px;
    margin-bottom: 5px;
    text-align: right;
}

.skill-bar {
    position: relative;
    width: 100%;
    background-color: rgb(221, 221, 221);
    height: 30px;
}

.skill-bar-progress {
    height: 14px!important;
    border-radius: 12px;
    border: 3px solid #eee;
}

.skill-bar-inner {
    height: 8px!important;
    border-radius: 12px;
}
