.main-wrapper {
    display: -webkit-flex;
    display: flex;
    overflow: hidden;
}

.main-wrapper .page-wrapper {
    min-height: 100vh;
    background: #f9fafb;
    width: calc(100% - 240px);
    margin-left: 240px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-transition: margin .1s ease, width .1s ease;
    transition: margin .1s ease, width .1s ease;
}

.sidebar-min .main-wrapper .page-wrapper {
    width: calc(100% - 70px);
    margin-left: 70px;
}

.main-wrapper .page-wrapper .page-content {
    flex-grow: 1;
    padding: 25px;
    margin-top: 60px;
}

.grid-margin {
    margin-bottom: 1.5rem;
}

.stretch-card {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: stretch;
    align-items: stretch;
    justify-content: stretch;
}

.flex-grow {
    flex-grow: 1;
}

.card {
    box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
    -webkit-box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
    -moz-box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
    -ms-box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
}

.card {
    border: 1px solid #f2f4f9;
}

.stretch-card > .card {
    width: 100%;
    min-width: 100%;
}

.card .card-body {
    padding: 1.5rem 1.5rem;
}

.card .card-title {
    color: #000;
    margin-bottom: 1.2rem;
    text-transform: uppercase;
    font-size: .875rem;
    font-weight: 600;
}

.card .card-description {
    margin-bottom: .875rem;
    font-weight: 400;
    color: #76838f;
}
