/* COMPONENTS */
@import "../component/bootstrap.scss";
@import "../component/fontAwesome.scss";
/* COMPONENTS ADMIN */
@import "./components/animation.scss";
@import "./components/table.scss";
@import "./components/btn.scss";
@import "./components/form.scss";
/* ELEMENTS */
@import "./elements/element.scss";
@import "./elements/element-header.scss";

body, div, a, a:active, a:checked, a:focus, a:hover, a:visited {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

body {
    font-family: "Overpass", sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    color: #000;
    text-align: left;
    background-color: #f9fafb;
}

body, html {
    padding-right: 0 !important;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

a, div, h1, h2, h3, h4, h5, h6, p, span {
    text-shadow: none;
}

ol, ul, dl {
    margin-top: 0;
    margin-bottom: 1rem;
}

h3, .h3 {
    font-size: 1.875rem;
}

h4, .h4 {
    font-size: 1.4rem;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 0;
}
