.navbar {
    width: calc(100% - 240px);
    height: 60px;
    background: #fff;
    border-bottom: 1px solid #f2f4f9;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    padding: 0;
    position: fixed;
    right: 0;
    left: 240px;
    z-index: 978;
    box-shadow: 3px 0 10px 0 rgba(183, 192, 206, 0.2);
    transition: width .1s ease, left .1s ease;
}

.navbar {
    flex-wrap: wrap;
    justify-content: space-between;
}

.sidebar-min .page-wrapper .navbar {
    width: calc(100% - 70px);
    left: 70px;
    right: 0;
}

.navbar .navbar-content {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: 100%;
    padding-left: 25px;
    padding-right: 25px;
}

.navbar .navbar-content .navbar-nav {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    margin-left: auto;
}

.navbar .navbar-content .navbar-nav .nav-item {
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
    min-width: 30px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

.navbar .navbar-content .navbar-nav .nav-item .nav-link {
    color: #535353;
    padding: 0;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.navbar .navbar-content .navbar-nav .nav-item .nav-link:hover {
    color: #727cf5;
}

.navbar .navbar-content .navbar-nav .nav-item.nav-profile .nav-link img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.navbar .navbar-content .navbar-nav .nav-item.nav-profile .nav-link.dropdown-toggle::after {
    display: none;
}

.navbar .navbar-content .navbar-nav .nav-item.dropdown .dropdown-menu {
    max-width: 280px;
    position: absolute;
    right: -20px;
    left: auto;
    border-radius: 0;
    margin-top: 0;
    border: 1px solid #f2f4f9;
    box-shadow: 0 5px 10px 0 rgba(183, 192, 206, 0.2);
    font-size: .875rem;
}

.navbar .navbar-content .navbar-nav .nav-item.nav-profile .dropdown-menu {
    padding: 20px;
    min-width: 230px;
}

.navbar .navbar-content .navbar-nav .nav-item.dropdown .dropdown-menu::before {
    content: '';
    width: 13px;
    height: 13px;
    background: #fff;
    position: absolute;
    top: -7px;
    right: 28px;
    transform: rotate(45deg);
    border-top: 1px solid #f2f4f9;
    border-left: 1px solid #f2f4f9;
}

.navbar .navbar-content .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-header {
    border-bottom: 1px solid #f2f4f9;
}

.navbar .navbar-content .navbar-nav .nav-item.nav-profile .dropdown-menu .dropdown-header {
    padding: 0;
}

.navbar .navbar-content .navbar-nav .nav-item.nav-profile .dropdown-menu .dropdown-header .figure {
    position: relative;
}

.navbar .navbar-content .navbar-nav .nav-item.nav-profile .dropdown-menu .dropdown-header .figure img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    padding: 3px;
}

.navbar .navbar-content .navbar-nav .nav-item.nav-profile .dropdown-menu .dropdown-header .info-profile .profile-name {
    font-size: 16px;
}

.navbar .navbar-content .navbar-nav .nav-item.nav-profile .dropdown-menu .dropdown-header .info-profile .profile-email {
    font-size: 13px;
}

.navbar .navbar-content .navbar-nav .nav-item.nav-profile .dropdown-menu .dropdown-body .profile-nav .nav-item {
    width: auto;
    margin: 0 0 5px 0;
}

.navbar .navbar-content .navbar-nav .nav-item.nav-profile .dropdown-menu .dropdown-body .profile-nav .nav-item .nav-link {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
    color: #383838;
    transition: color .2s ease-in-out;
}

.navbar .navbar-content .navbar-nav .nav-item.nav-profile .dropdown-menu .dropdown-body .profile-nav .nav-item .nav-link svg {
    width: 16px;
    height: 16px;
    margin-right: 20px;
}

.navbar .navbar-content .navbar-nav .nav-item.nav-profile .dropdown-menu .dropdown-body .profile-nav .nav-item .nav-link span {
    font-size: 14px;
    margin-top: 2px;
}
