.sidebar {
    width: 240px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    -webkit-transition: width .1s ease, margin .1s ease-out;
    transition: width .1s ease, margin .1s ease-out;
    z-index: 999;
}

.sidebar-min .sidebar {
    width: 70px;
}

.sidebar-min.open-sidebar-min .sidebar {
    width: 240px;
}

.sidebar .sidebar-header {
    background: #fff;
    height: 60px;
    border-bottom: 1px solid #f2f4f9;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    padding: 0 25px;
    border-right: 1px solid #f2f4f9;
    z-index: 999;
    width: 240px;
    -webkit-transition: width .1s ease;
    transition: width .1s ease;
}

.sidebar-dark .sidebar .sidebar-header {
    background: #0c1427;
    border-bottom: 1px solid #344258;
    border-right: 1px solid #344258;
}

.sidebar-min .sidebar .sidebar-header {
    width: 70px;
}

.sidebar-min .sidebar .sidebar-header .sidebar-brand {
    display: none;
}

.sidebar-dark .sidebar .sidebar-header .sidebar-brand {
    color: #f8f9fc;
}

.sidebar .sidebar-header .sidebar-brand {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity .5s ease;
    transition: opacity .5s ease;
    font-weight: 900;
    font-size: 25px;
    letter-spacing: -1px;
    color: #031a61;
}

.sidebar .sidebar-header .sidebar-brand span {
    color: #727cf5;
    font-weight: 300;
}

.sidebar .sidebar-header .sidebar-toggle {
    cursor: pointer;
    width: 18px;
}

.sidebar-dark .sidebar .sidebar-header .sidebar-toggle span {
    display: block;
    width: 100%;
    border-radius: 3px;
    height: 2px;
    background: cadetblue;
    -webkit-transition: all .3s;
    transition: all .3s;
    position: relative;
}

.sidebar .sidebar-header .sidebar-toggle span + span {
    margin-top: 4px;
}

.sidebar-dark .sidebar .sidebar-header .sidebar-toggle span {
    background: #9fa2ab;
}

.sidebar .sidebar-header .sidebar-toggle.not-active span:nth-child(1) {
    -webkit-animation: ease .6s top-2 forwards;
    animation: ease .6s top-2 forwards;
}

.sidebar .sidebar-header .sidebar-toggle.not-active span:nth-child(2) {
    -webkit-animation: ease .6s scaled-2 forwards;
    animation: ease .6s scaled-2 forwards;
}

.sidebar .sidebar-header .sidebar-toggle.not-active span:nth-child(3) {
    -webkit-animation: ease .6s bottom-2 forwards;
    animation: ease .6s bottom-2 forwards;
}

.sidebar .sidebar-header .sidebar-toggle.active span:nth-child(1) {
    -webkit-animation: ease .6s top forwards;
    animation: ease .6s top forwards;
}

.sidebar .sidebar-header .sidebar-toggle.active span:nth-child(2) {
    -webkit-animation: ease .6s scaled forwards;
    animation: ease .6s scaled forwards;
}

.sidebar .sidebar-header .sidebar-toggle.active span:nth-child(3) {
    -webkit-animation: ease .6s bottom forwards;
    animation: ease .6s bottom forwards;
}

.sidebar-o {
    overflow: hidden !important;
    overflow-anchor: none;
    -ms-overflow-style: none;
    touch-action: auto;
    -ms-touch-action: auto;
}

.sidebar .sidebar-body {
    max-height: calc(100% - 60px);
    position: relative;
    border-right: 1px solid #f2f4f9;
    height: 100%;
    -webkit-box-shadow: 0 8px 10px 0 rgba(183, 192, 206, 0.2);
    box-shadow: 0 8px 10px 0 rgba(183, 192, 206, 0.2);
    background: #ffffff;
}

.sidebar-dark .sidebar .sidebar-body {
    background: #0c1427;
    border-right: 1px solid #344258;
}

.sidebar .sidebar-body .nav {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    padding: 25px 25px 50px 25px;
}

.sidebar .sidebar-body .nav .nav-item {
    position: relative;
}

.sidebar .sidebar-body .nav .nav-item.nav-category {
    color: #686868;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .5px;
    margin-bottom: 5px;
    height: 15px;
}

.sidebar .sidebar-body .nav .nav-item.nav-category:not(:first-child) {
    margin-top: 20px;
}

.sidebar-dark .sidebar .sidebar-body .nav .nav-item.nav-category {
    color: #fff;
}

.sidebar-min:not(.open-sidebar-min) .sidebar .sidebar-body .nav .nav-item.nav-category {
    visibility: hidden;
}

.sidebar-min:not(.open-sidebar-min) .sidebar .sidebar-body .nav .nav-item.nav-category::before {
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #9b9b9b;
    position: absolute;
    top: 5px;
    left: 6px;
    visibility: visible;
}

.sidebar .sidebar-body .nav .nav-item .nav-link {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    padding: 0;
    height: 32px;
    white-space: nowrap;
    color: #000;
}

.sidebar-dark .sidebar .sidebar-body .nav .nav-item .nav-link {
    color: #bfc3ce;
}

.sidebar .sidebar-body .nav .nav-item .nav-link .link-icon {
    width: 16px;
    height: 16px;
    fill: rgba(233, 236, 239, 0.21);
    position: absolute;
    color: inherit;
}

.sidebar .sidebar-body .nav .nav-item .nav-link .link-icon {
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.sidebar-min .sidebar .sidebar-body .nav .nav-item .nav-link .link-title.active {
    color: #727cf5;
}

.sidebar-min:not(.open-sidebar-min) .sidebar .sidebar-body .nav .nav-item .nav-link .link-title {
    visibility: hidden;
    opacity: 0;
}

.sidebar-dark .sidebar .sidebar-body .nav .nav-item .nav-link svg {
    fill: none;
}

.sidebar .sidebar-body .nav .nav-item .nav-link span.link-title {
    margin-left: 30px;
    font-size: 14px;
}

.sidebar .sidebar-body .nav .nav-item .nav-link span.link-title {
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
